<div class="col-xs-1 main"></div>  
    <div class="col-xs-10 main">  
      <center>
     <!--  <div class="ui-widget">
        <label for="tags">Tags: </label>
        
      </div> -->
      
      <table width="100%">
      <tr>
        <td width="5%">&nbsp;</td> 
        <td width="33%"><strong>SONG</strong></td>
        <td width="22%"><strong>ARTIST</strong></td>
        <td width="35%"><strong>ALBUM</strong></td>
        <td width="5%"><strong>USER</strong></td>
      </tr>

    <% @songs_users.each_with_index do |song_user, index| %>
      <tr id = "<%= index.to_s %>" class="song-row">
        <td>
          <a href="/users/<%= song_user[1].id %>/play/<%= song_user[0].id %>" data-remote="true"><%= image_tag('icons/play.png', class: 'play', height: 30) %></a>
        </td>
        <td>
          <%= song_user[0].name %>
        </td>
        <td>
          <%= song_user[0].album.artist.name %>
        </td>
        <td>
          <%= song_user[0].album.name %>
        </td>
        <td>
          <%= song_user[1].email %>
        </td>
      </tr>
        
      <% end %>

    </table>
    </div>
    </div>
    </center>