<div class="col-xs-1 main"></div>  
    <div class="col-xs-10 main">  
      <center>
      
      <table width="100%">
      <tr>
        <td width="5%">&nbsp;</td> 
        <td width="33%"><strong>SONG</strong></td>
        <td width="22%"><strong>ARTIST</strong></td>
        <td width="35%"><strong>ALBUM</strong></td>
        <td width="5%"><strong>PLAYS</strong></td>
      </tr>

      <% @song_array.each do |song| %>
        <tr class="song-row">
          <td>
            <a href="/users/<%= @user.id %>/play/<%= song[:song_id] %>" data-remote="true"><%= image_tag('icons/play.png', class: 'play', height: 30) %></a>
          </td>
          <td>
            <a href="#"><%= truncate(song[:song_name], length: 40) %></a>
          </td>
          <td>
            <%= truncate(song[:artist_name], length: 40) %>
          </td>
          <td>
            <%= truncate(song[:album_name], length: 25) %>
          </td>
          <td>
           <%= current_user.songs.first_rel_to(song[:song_id]).play_count %>
          </td>
        </tr>
      <% end %>

    </table>
    </div>
    </div></center>