<body style="background-color: #fff">
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<div class="container-fluid col-xs-12 page">
<%= csrf_meta_tag %>

    <!-- ////////// NAV BAR ////////// -->

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= image_tag('logo.png', class: "small-logo", height: 25) %>

        
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <ul class="nav navbar-nav navbar-right items">
          <li>
            <%= image_tag('search.png', height: 20) %>
            <input id="tags" size="60">
          </li>
          <li><button id="upvote">Upvote</button></li>
          <li><button id="downvote">Downvote</button></li>
          <li><%= link_to 'Recommendations', "/users/#{current_user.id}/recommended" %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <li class="log-in">
            <!-- <a href="#">Log in</a> -->
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ////////// END NAV BAR ////////// -->
  <div id="links_array" style="visibility:hidden;"></div>
  <div id="user_id" style="visibility:hidden;"><%= current_user.id %></div>
  <div id="current_song" style="visibility:hidden;"></div>
    <div id="player" class="feed-me">
    
    <!-- <div style="border: 2px solid blue; width: 70%;"> -->
      <center><%= image_tag('logo.png', class: "mm-logo") %></center>
      <!-- <div class="responsive-object" style="height:350px;position:absolute;width:400px;left:43%;margin-left:-100px">
      </div> -->
      
      <!-- </div> -->
   
  </div>
   
<!--   <div style="height:400px; background-color: blue;position:fixed;top:0; width:100%; left:0;"></div>
 -->
  <div style="margin-top:400px;">
  <div class="container-fluid list-wrapper">
    <%= render @partial %>
    <div class="col-xs-1 main"></div> 

  </div> 
   <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<script type="text/javascript" src="//cdn.embed.ly/player-0.0.10.min.js"></script>
  <!-- Include your app.js scripts after player.js -->
  <!-- <script type="text/javascript" src="/path/to/app.js"></script> -->

</div>
</body>
