<body style="background-color: #fff">
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<div class="container-fluid col-xs-12 page">
<%= csrf_meta_tag %>

    <!-- ////////// NAV BAR ////////// -->

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        
       <div class="logo-nav">
         <%= image_tag('logo.png', class: "small-logo", height: 25) %>
       </div>

       <div class="search">
         <%= image_tag('search.png', height: 20) %>
            <input id="tags" size="56">
       </div>

       <div class="options">
        
          <%= link_to 'Recommended', "/users/#{current_user.id}/recommended" %> &nbsp; | &nbsp;
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          
      </ul>
       </div>

      
      </div>
    </div>
  </nav>

  <!-- ////////// END NAV BAR ////////// -->
  <div id="links_array" style="visibility:hidden;"></div>
  <div id="user_id" style="visibility:hidden;"><%= current_user.id %></div>

  <div id="current_song" style="visibility:hidden;"></div>

  <!-- ///////// PLAYER SECTION ////////// -->
  <div class="player-wrapper container-fluid" width="100%">
  <div class="player-icons">
    <%= image_tag("upvote.png", class: "player-icon-button upvote") %><br>
    <%= image_tag("downvote.png", class: "player-icon-button downvote") %><br>
    <%= image_tag("recommend.png", class: "player-icon-button") %><br>


  </div>
    <div id="player" class="feed-me">
      <center>
        <%= image_tag('logo.png', class: "mm-logo-users") %>
      </center>
    </div>
  </div>
  <!-- ///////// END PLAYER SECTION ////////// -->
     

  <div style="margin-top:350px;">
  <div class="container-fluid list-wrapper">
    <%= render @partial %>
    <div class="col-xs-1 main"></div> 

  </div> 
   <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<script type="text/javascript" src="//cdn.embed.ly/player-0.0.10.min.js"></script>
  <!-- Include your app.js scripts after player.js -->
  <!-- <script type="text/javascript" src="/path/to/app.js"></script> -->

</div>
</body>
