<body>
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<div class="container-fluid col-xs-12 page">

    <!-- ////////// NAV BAR ////////// -->

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">MirrorMirror</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Log in</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ////////// END NAV BAR ////////// -->

  <div id="player" class="feed-me">
    <div class="responsive-object" style="height:375px;position:absolute;width:400px;left:43%;margin-left:-100px">
    </div>
  </div>
<!--   <div style="height:400px; background-color: blue;position:fixed;top:0; width:100%; left:0;"></div>
 -->
  <div style="margin-top:400px;">
  <div class="col-xs-1 main"></div>  
  <div class="col-xs-10 main">  
  
    <div id="links_array" style="visibility:hidden;"></div>
    <button id="upvote">Upvote</button>
    <button id="downvote">Downvote</button>
    <div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
    <h1 id="HI"></h1>
</div>
    <p>
    <table>
      <tr>
        <td>&nbsp;</td> 
        <td><strong>SONG</strong></td>
        <td><strong>ARTIST</strong></td>
        <td><strong>ALBUM</strong></td>
        <td><strong>PLAYS</strong></td>
      </tr>

      <% @songs.each do |song| %>
        <tr class="song-row">
          <td>
            <a href="/users/<%= @user.id %>/play/<%= song.id %>" data-remote="true"><%= image_tag('icons/play.png', class: 'play', height: 30) %></a>
          </td>
          <td>
            <a href="#"><%= truncate(song.name, length: 40) %></a>
          </td>
          <td>
            <%= truncate(song.album.artist.name, length: 40) %>
          </td>
          <td>
            <%= truncate(song.album.name, length: 25) %>
          </td>
          <td>
            <center><%= song.user_songs.first.play_count %></center>
          </td>
        </tr>
      <% end %>

    </table>
  </div>
  </div>
  <div class="col-xs-1 main"></div>  
   <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<script type="text/javascript" src="//cdn.embed.ly/player-0.0.10.min.js"></script>
  <!-- Include your app.js scripts after player.js -->
  <script type="text/javascript" src="/path/to/app.js"></script>

</div>
</body>
