<!-- <script src="jquery-ui-1.8.22.custom.min.js"></script> -->

<body class="black-bg">
<div class="container front">
  <div class="col-xs-2"></div>
  <div class="col-xs-9">
    <p>&nbsp;</p>
    <br>&nbsp;</br>

    <br><center>
      <%= image_tag('logo.png') %>
      <p>

      <%= image_tag('upload.png') %>
      <br>
      <h4>Upload your iTunes Library</h4>
  
      <p>You can find your library at: <br><span> /Users/username/Music/iTunes/iTunes Library.xml</span></p>

        <%= form_for@user, :url => users_upload_path, multipart: true, method: :post do |f| %>
        <%= f.file_field :name %> <%= f.submit %>
    <% end %>

    </center>
  </div>

  <div class="col-xs-1 right-panel">
    
  </div>
      

</div>

<%= javascript_include_tag "application" %>
    <script>
      $(function() {
            var BV = new $.BigVideo();
      BV.init();
      BV.show("http://www.dacewillmott.com/mirrormirror.mp4",{ambient:true});
      });
    </script>

</body>
