<!-- <script src="jquery-ui-1.8.22.custom.min.js"></script> -->

<body class="black-bg">
<div class="container-fluid front">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    
    <br><center>
      <%= image_tag('logo.png', class: "mm-logo") %>
      <div class="home-content">
      
      

      

      <!-- <p><a href="#"><%#= image_tag('upload.png') %></a> -->
      <br>

        <% if current_user %>
        <h4>Upload your iTunes Library</h4>
        <p>You can find your library at: <br><span> /Users/username/Music/iTunes/iTunes Library.xml</span></p>
        <%= form_for@user, :url => users_upload_path, multipart: true, method: :post do |f| %>
        <%= f.file_field :avatar, class: "file-upload" %><p>
        <%= image_submit_tag("upload.png") %>
        <% end %>
        <% else %>

          <div class="icon-set">
            <div class="feature1-logo icon-single1">
              <%= image_tag('line.png', class: "line") %>
              <%= image_tag('apple.png', class: "feature1-logo") %>
              <br>

              Find your iTunes music.
            </div>
            <div class="feature2-logo icon-single2">
              <%= image_tag('upload.png', class: "feature2-logo") %>
                <br>

              Upload your library file.
            </div>
            <div class="feature3-logo icon-single3">
              <%= image_tag('youtube.png', class: "feature3-logo") %>
              <%= image_tag('line.png', class: "line-left") %><br>

              Stream from YouTube.
            </div>





          
           <div class="upload-instructions">

            <div class="feature1-logo icon-single1">
            <%= link_to image_tag("sign_up.png", class: "sharp-button"), new_user_registration_path %><br>  
            </div>
            <div class="feature2-logo icon-single2">
              <%= link_to image_tag("log_in.png", class: "sharp-button"), new_user_session_path %><br>
            </div>
            <div class="feature3-logo icon-single3">
              <%= form_for :user, :url => user_session_path(@user) do |f| %>
          <%= f.hidden_field :email, value: "sample@example.com" %>
          <%= f.hidden_field :password, value: "password" %> 
          <%= image_submit_tag("guest_user.png", class: "sharp-button") %>
        <%end%>
            </div>

    <% end %>

          </div>
          <p>
          
    </center>
    </p>
  </div>

  <div class="col-xs-2">
    
  </div>
      

</div>

<%= javascript_include_tag "application" %>
    <script>
      $(function() {
            var BV = new $.BigVideo();
      BV.init();
      BV.show("http://www.dacewillmott.com/mirrormirror.mp4",{ambient:true});
      });
    </script>

</body>
