<!-- <script src="jquery-ui-1.8.22.custom.min.js"></script> -->

<body class="black-bg">
<div class="container-fluid front">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    
    <br><center>
      <%= image_tag('logo.png', class: "mm-logo") %>
      <p>
      <div class="home-content">
      <h4>Upload your iTunes Library</h4>
  
      <p>You can find your library at: <br><span> /Users/username/Music/iTunes/iTunes Library.xml</span></p>

      <!-- <p><a href="#"><%#= image_tag('upload.png') %></a> -->
      <br>

        <%= form_for@user, :url => users_upload_path, multipart: true, method: :post do |f| %>
        <%= f.file_field :name, class: "file-upload" %><p>
        <%= image_submit_tag("upload.png") %>

    <% end %>

    </center>
    </p>
  </div>

  <div class="col-xs-2">
    
  </div>
      

</div>

<%= javascript_include_tag "application" %>
    <script>
      $(function() {
            var BV = new $.BigVideo();
      BV.init();
      BV.show("http://www.dacewillmott.com/mirrormirror.mp4",{ambient:true});
      });
    </script>

</body>
