<!DOCTYPE html>
<html>
<head>

  <title>MirrorMirror</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Open+Sans:300,400' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'http://cdnjs.cloudflare.com/ajax/libs/d3/3.0.8/d3.min.js' %>
  <!-- <link rel="stylesheet" href="graph-creator.css" /> -->
  <%= csrf_meta_tags %>
  
</head>

<%= yield %>


<script type="text/javascript" src="//cdn.embed.ly/player-0.0.10.min.js"></script>
  <!-- Include your app.js scripts after player.js -->
  <!-- <script type="text/javascript" src="/path/to/app.js"></script> -->

</html>
